<div class="container" *ngIf="space">
    <h1>{{ space.id ? 'Editer' : 'Ajouter'}} un espace de famille</h1>
    <hr>
    <form #spaceForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <mat-form-field class="w-100">
                    <input matInput [(ngModel)]="space.name" name="name" required id="name" placeholder="Nom">
                </mat-form-field>
            </div>
        </div>

        <!-- SPACE SLOT EDIT -->
        <section>
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h5>Les slots</h5>
                    <hr class="mb-4">
                </div>
            </div>
            <ng-container *ngFor="let spaceSlot of space.spaceSlots; index as i">
                <div class="row">
                    <div class="col-lg-4 offset-lg-1">

                        <mat-form-field class="w-100">
                            <mat-select required placeholder="Utilisateur" [(ngModel)]="spaceSlot.user.username" [name]="'user' + i">
                                <mat-option *ngFor="let username of usernames" [value]="username">
                                    {{username}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="w-100">
                            <mat-select required placeholder="Role" [(ngModel)]="spaceSlot.roles" [name]="'spaceRole' + i" multiple>
                                <mat-option *ngFor="let spaceRole of spaceRoles" [value]="spaceRole">
                                    {{spaceRole}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div class="col-lg-3">
                        <mat-form-field class="w-100">
                            <mat-select required placeholder="Lien de famille" [(ngModel)]="spaceSlot.familyLink"
                                [(value)]="spaceSlot.familyLink" [name]="'familyLink' + i">
                                <mat-option *ngFor="let familyLink of familyLinks" [value]="familyLink">
                                    {{familyLink}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="w-100">
                            <mat-select required placeholder="Etat de validation" [(ngModel)]="spaceSlot.validationState"
                                [name]="'validationState' + i" [(value)]="spaceSlot.validationState">
                                <mat-option value="WAITING">
                                    En attente
                                </mat-option>
                                <mat-option value="VALID">
                                    Validé
                                </mat-option>
                                <mat-option value="REFUSE">
                                    Refusé
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3">
                        <mat-form-field class="w-100">
                            <input matInput [(ngModel)]="spaceSlot.tokenValidation" [name]="'tokenValidation' + i"
                                placeholder="Token de validation">
                        </mat-form-field>

                        <mat-slide-toggle [(ngModel)]="spaceSlot.urgenceContact" [name]="'urgenceContact' + i">Contact
                            d'urgence</mat-slide-toggle>

                    </div>
                    <div class="col-lg-1">
                        <button type="button" mat-mini-fab color="warn" (click)="removeSpaceSlotAtIndex(i)">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-lg-1 col-lg-10">
                        <hr>
                    </div>
                </div>
            </ng-container>
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div *ngIf="!space.spaceSlots.length" class="alert alert-secondary text-center" role="alert">
                        Aucun slot
                    </div>
                    <div class="row d-flex justify-content-center">
                        <button type="button" mat-mini-fab class="valid-button" (click)="addSpaceSlot()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <!--  -->

        <div class="row d-flex justify-content-end">
            <button mat-raised-button type="submit" class="valid-button" [disabled]="!spaceForm.form.valid">{{ space.id
                ? 'Valider' : 'Ajouter'}}</button>
        </div>
    </form>
</div>