<div class="container">
    <div class="row d-flex justify-content-center">
        <section class="center-block" style="float:none">
            <section class="login-welcome">
                <section class="row d-flex justify-content-center">
                    <h1 class="title-app">P'HAPPY</h1>
                </section>
                <h6>Bienvenue, veuillez vous identifier</h6>
            </section>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                <div>
                    <mat-form-field class="w-100">
                        <input matInput [(ngModel)]="email" name="email" type="email" required id="email" placeholder="Identifiant">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-100">
                        <input matInput [(ngModel)]="locker" name="password" type="password" required id="password"
                            placeholder="Mot de passe">
                    </mat-form-field>
                </div>
                <div class="mt-2">
                    <mat-checkbox [(ngModel)]="rememberCredentials" name="remember-credentials">Se souvenir de
                        moi</mat-checkbox>
                </div>
                <button mat-raised-button type="submit" class="valid-button w-100 my-5" [disabled]="!loginForm.form.valid">Connexion</button>
            </form>
        </section>
    </div>
    <div class="row d-flex justify-content-center">
        <section *ngIf="errorMessage">
            <div class="alert alert-danger" role="alert">
                {{errorMessage}}
            </div>
        </section>
    </div>
</div>