<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a class="btn principal-admin-button m-1" mat-raised-button routerLink="/espaces" routerLinkActive="active">Espaces</a>
        </div>
        <div class="col-md-4">
            <a class="btn principal-admin-button m-1" mat-raised-button routerLink="/utilisateurs" routerLinkActive="active">Utilisateurs</a>
        </div>
        <div class="col-md-4">
            <a class="btn principal-admin-button m-1" mat-raised-button routerLink="/references" routerLinkActive="active">Références</a>
        </div>
        <div class="col-md-4">
            <a class="btn principal-admin-button m-1" mat-raised-button routerLink="/roles" routerLinkActive="active">Rôles</a>
        </div>
    </div>
</div>