
$fappyColor: #3b3850;

* {
    outline: none !important;
}
.valid-button {
    background-color: $fappyColor !important;
    color: whitesmoke !important;
}
.mat-raised-button {
    font-size: 22px;
    font-family: monospace;
}