<div class="container">

    <div class="row d-flex align-items-center">
        <h1>Les espaces</h1>
        <a mat-mini-fab class="valid-button ml-2" routerLink="/espaces/edit" routerLinkActive="active">
            <mat-icon>add</mat-icon>
        </a>
    </div>

    <section id="spaces">
        <div>
            <mat-table [dataSource]="spaces" class="w-100">

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let space"> {{space.name}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" class="clickable" (click)="navigateToSpace(row)"></mat-row>

            </mat-table>
            <mat-paginator (page)="pageEvent = searchSpaces($event)" [pageIndex]="pageIndex" [length]="length"
                [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>
        <div *ngIf="!spaces.length" class="alert alert-secondary text-center" role="alert">
            Aucun espace
        </div>
    </section>

</div>